<h2>Add Employee Details</h2>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li ><a  class="btn btn-primary" routerLink='log' routerLinkActive="active" >Login</a></li>
   <li> <a class="btn btn-primary" routerLink='addemp' routerLinkActive="active" >AddEmployee</a></li>
    <a class="btn btn-primary" routerLink='showdata' routerLinkActive="active">ShowAllData</a>
     <a class="btn btn-primary" routerLink='sort' routerLinkActive="active">SortData</a>
  </ul>
  </div>
  
</nav>

<router-outlet></router-outlet>